<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-default" href="#">Check Syntax</a>
    <a type="button" class="btn btn-default" href="#">Compile</a>
    <a type="button" class="btn btn-default" href="#">Generate Testbench Module</a>
    <a type="button" class="btn btn-default" href="#">Save</a>
</div>
