<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-default check-syntax" href="#">Check Syntax</a>
    <a type="button" class="btn btn-default compile" href="#">Compile</a>
    <a type="button" class="btn btn-default tb-gen" href="#">Generate Testbench Module</a>
    <a type="button" class="btn btn-default wave-gen" href="#">Generate Wave</a>
    <a type="button" class="btn btn-default get-output" href="#">Get VVP output</a>
    <a type="button" class="btn btn-default save-file" href="#">Save</a>
</div>
