<ul>
	<% _.each(collection, function(model){ %>
	    <li data-jstree='{"icon": "glyphicon glyphicon-file"}'><%= model['filename'] %></li>
	<% }); %>
    <li data-jstree='{"icon": "glyphicon glyphicon-plus"}'>new file</li>

</ul>
