<ul>
    <li data-jstree='{"icon": "glyphicon glyphicon-file"}'>batee5.v</li>
    <li data-jstree='{"icon": "glyphicon glyphicon-file"}'>batee5_tb.v</li>
    <li data-jstree='{"icon": "glyphicon glyphicon-plus"}'>new file</li>
</ul>
