<ul>
	<% _.each(collection, function(model){ %>
	    <li data-jstree='{"icon": "glyphicon glyphicon-file"}'><%= model['filename'] %></li>
	<% }); %>
    <li data-jstree='{"icon": "glyphicon glyphicon-plus"}' class='new-file' data-toggle="modal" data-target="#myModal">new file</li>

</ul>